/* 全局基础 */

  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  :root body {
    position: absolute;
  }
  
html {
    overflow-y: scroll;
    font-size: 62.5%;
    /*将rem缺省值设置10px*/
}

body {
    width: 100vw;
    overflow: hidden;
    font-family: var(--font-family);
    font-size: 1.4rem;
    line-height: var(--line-height);
    color: var(--text);
    transition: background ease 0.4s;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.horwheel {
    scroll-behavior: auto;
}

a {
    position: relative;
    display: inline-block;
    color: var(--ui-primary);
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 0;
        background: var(--ui-primary);
        left: 50%;
        transform: translateX(-50%);
        transition: all ease 0.1s;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

p {
    margin: 0;
    margin-bottom: 1.6rem;
    &:last-child{
        margin-bottom: 0;
    }
}



[draggable="true"]{
    cursor: -webkit-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
   
}

ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
dl,dd{
    padding: 0;
    margin: 0;
}

