:root .dark {
    --paper: #292d38;
}

.widget-demo {
    padding: 5.6rem;
    background: url(../images/widget-bg.png) repeat 0 0/80px auto;
    background-color: #142435;
}

@font-face {
    font-family: 'ysbt';
    src:
        url('../fonts/YouSheBiaoTiHei.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.widget-group {
    --size: 22rem;
    --gap: 1.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--size));
    grid-template-rows: repeat(auto-fill, var(--size));
    gap: var(--gap);
    width: calc(var(--size) * 2 + var(--gap));
    align-content: stretch;
}

.widget {
    --radius: 2.4rem;
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--radius);
    box-shadow: 0 0 1px rgb(0 0 0 / 24%), 0 5px 8px rgb(0 0 0 / 12%), 0 8px 16px 2px rgb(0 0 0 / 10%), 0 12px 18px 2px rgb(0 0 0 / 5%);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0, 27, 39, .08);
    transition: all ease-out 0.3s;
    overflow: hidden;

    &:hover {
        transform: translateY(-0.4rem);
        background-color: rgba(43, 82, 99, .12);

        .widget-header .link-btn {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &.sm {
        height: var(--size);
    }

    &.md {
        grid-column: 1 / 3;
        height: var(--size);
    }

    &.lg {
        grid-column: 1 / 3;
        grid-row-start: span 2;
        height: calc(var(--size) * 2 + var(--gap));
    }

    &.half {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    &>.half-start {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &>.half-end {
        display: grid;
        background-image: linear-gradient(134deg, rgba(0, 219, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 100%);
        padding: 1.4rem 2rem;
    }

    .normal-title {
        font-size: 2rem;
        margin: 0;
    }

    .list-title {
        backdrop-filter: none;
        position: relative;
    }
}

.xiangling-bg {
    background: url(../images/gxj/xiangling-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.meilonghu-bg {
    background: url(../images/gxj/meilonghu-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
}



.widget-close {
    color: var(--base-light);
    transition: all 0.2s;

    &::after {
        display: none;
    }

    &:hover {
        color: var(--text-regular);
    }
}

.widget-screen {
    position: absolute;
    top: 0;
    width: 100%;
    grid-row: span 2;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: all 0.3s;
    @extend .widget;
    max-height: calc(100vh - 12.4rem);

    &.hide {
        opacity: 0;
        transform: scale(0.9);
        pointer-events: none;
    }
}

.drawer .widget-screen {
    width: 45.6rem;
}

.drawer-left .widget-screen {
    left: 0;
}

.drawer-right .widget-screen {
    right: 0;
}

.widget-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 1.4rem 2rem 0.8rem;

    .widget-header-span {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        gap: 0.4rem;
        grid-row-start: 2;
    }

    .widget-close {
        justify-self: end;
    }

    .stretch-input {
        margin-left: auto;
    }

    .widget-header-end,.widget-header-start{
        display: grid;
        grid-auto-flow: column;
        gap: 0.8rem;
    }
    
}

.widget-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    &>:only-child {
        margin: auto;
    }
}

.widget-normal-title {
    display: flex;
    align-items: center;
    margin: 0;

    .back-btn {
        display: flex;
        border-right: 1px solid var(--base-thin);
        padding-right: 1rem;
        font-size: 1.6rem;
        margin-right: 0.8rem;

        &::after {
            display: none;
        }
    }
}

.liable {
    font-size: 1.2rem;
}


.widget-title,
.art-title {
    font-family: ysbt;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}



.widget-body {
    position: relative;
    display: grid;
    gap: 1.6rem;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 1.2rem;

    &>* {
        min-width: 0;
    }
}

.space-evenly {
    display: grid;
    align-content: space-around;
}




.fillBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.link-title {
    display: grid;
    grid-auto-flow: column;
    gap: 0.4rem;
    align-items: center;

    .link-btn {
        display: flex;
        transition: all ease-out 0.2s;
        transform: translateX(-1em);
        opacity: 0;

        &::after {
            display: none;
        }
    }

    .back-btn {
        display: flex;
        transition: all ease-out 0.2s;
        border-right: 1px solid var(--base-thin);
        padding-right: 0.8rem;
        margin-right: 0.8rem;

        &::after {
            display: none;
        }

    }
}


.contrast-project {
    &::before {
        content: "建成项目 "counter(leftNum);
    }

    &::after {
        content: "待建项目 "counter(leftNum);
    }
}

.list-trend {
    display: grid;
    align-content: space-around;
}

.list-trend-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.2rem 0.8rem;
    align-items: center;
    align-content: flex-start;
}

.list-trend-info {
    line-height: 1em;

    .number {
        font-size: 1.7rem;
    }

    small {
        font-size: 1.2rem;
        margin-left: 0.4rem;
    }
}

.list-trend-chart {
    grid-column: 2 / 3;
    height: 2.2rem;
}

.natural-gas {
    color: #FF6259;
}

.tap-water {
    color: #006DFF;
}

.electric-power {
    color: #00CDD9;
}

.list-progress {
    display: grid;
    align-content: center;
    align-items: center;
    gap: 1.6rem;

    &>li {
        display: grid;
        align-items: center;
        justify-content: space-between;

        gap: 0.2rem;

        .value {
            font-family: din;
            font-size: 1.6rem;
        }
    }

    .progress {
        grid-column: 1 / 3;
        height: 0.6rem;

        &::before {
            display: none;
        }
    }
}

.line-legend {
    display: grid;
    gap: 1rem;
    align-content: center;

    &>li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid var(--base-thinner);

        &.good {
            border-color: var(--good);
        }

        &.moderate {
            border-color: var(--moderate);
        }

        &.lightly {
            border-color: var(--lightly);
        }

        &.moderately {
            border-color: var(--moderately);
        }

        &.heavily {
            border-color: var(--heavily);
        }

        &.severly {
            border-color: var(--severly);
        }

    }
}

.line-legend-title {
    color: var(--text-light);
}

.line-legend-info {
    font-family: din;
}

.widget-header-legend {
    display: grid;
    grid-auto-flow: column;
    gap: 1.6rem;
    align-items: center;

    &>li {
        display: grid;
        grid-auto-flow: column;
        gap: 0.4rem;
        align-items: center;
        font-size: 1.2rem;

        &::before {
            content: "";
            display: block;
            height: 0.8rem;
            width: 0.8rem;
            background-color: var(--color);
        }
    }
}

.widget-half-legend {
    display: grid;
    gap: 0.4rem;
    align-content: center;

    &>li {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        padding: 0.2rem;
        padding-right: 0.8rem;
        padding-left: 0;
        border-right: 0.6rem solid var(--color);
        cursor: auto;

        &:hover {
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.08) 100%);

            &>.legend-title {
                color: var(--text);
            }
        }
    }

    .legend-title {
        transition: all 0.2s;
        color: var(--text-light);
    }

    .legend-info {
        font-size: 1.6rem;
        font-family: din;
    }
}


.widget-scroll {
    display: grid;
    gap: 1.6rem;
    overflow: auto;
    border-radius: 0.8rem;
    padding: 0.8rem 2rem 1.6rem;
    align-content: flex-start;

    &>* {
        min-width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.1);

    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.2);

            &:hover {
                background-color: var(--base-regular);
            }

        }
    }

}

.widget-scroll-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matching-list {
    &>li {
        display: grid;
        grid-auto-flow: column;
        gap: 0.8rem;
        justify-content: space-between;
        align-content: center;
        background-color: var(--base-thinner);
        border-radius: 0.8rem;
        padding: 0.8rem 1.6rem;
        margin-bottom: 0.4rem;
        transition: all ease-out 0.3s;
        cursor: pointer;

        &:hover {
            background-color: var(--base-thin);
        }
    }

    .value {
        font-family: din;
        font-size: 1.6rem;
    }

    .title {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            font-family: ranIcon;
            margin-right: 0.8rem;
        }
    }

    .school {
        .title {

            &::before {
                content: "\e992";
                color: var(--ui-primary);
            }
        }
    }

    .metro {
        .title {

            &::before {
                content: "\e995";
                color: var(--moderate);
            }
        }
    }

    .bus {
        .title {

            &::before {
                content: "\e996";
                color: var(--ui-success);
            }
        }
    }

    .shop {
        .title {

            &::before {
                content: "\e99a";
                color: var(--ui-warning);
            }
        }
    }

    .hospital {
        .title {

            &::before {
                content: "\e99b";
                color: var(--ui-danger);
            }
        }
    }

    .park {
        .title {

            &::before {
                content: "\e990";
                color: var(--good);
            }
        }
    }

    .station {
        .title {

            &::before {
                content: "\e997";
                color: #1C73E8;
            }
        }
    }
}

.widget-tag-box {
    display: grid;
    gap: 0.4rem;
    align-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.grid-small-widget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.8rem;
}

.grid-small-widget-item {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.6rem;
    background-color: var(--base-thinner);
    border-radius: 1.2rem;
    padding: 1.2rem 1.6rem;

    .info {
        color: var(--text-light);
        font-family: din;
    }
}


.grid-small-widget-start {
    display: grid;
    align-content: center;
    justify-self: start;
}

.grid-small-widget-end {
    display: grid;
    align-content: center;
    justify-content: end;
}

.smallDoughnut-chart {
    width: 5.1rem;
}

.widget-rotation-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    /*水平滚动吸附对齐方向效果*/
    overscroll-behavior: contain;
    /*子元素滚动不冒泡，父元素不滚动*/
    overflow-anchor: auto;
    /*滚动锚定，滚动内容突然插入其他内容，滚动条位置不会乱跳*/

    &::-webkit-scrollbar {
        /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
        width: 0px;
        height: 0px;
        background-color: transparent;
    }


}

.widget-rotation-item {
    position: relative;
    height: 100%;
    border-radius: var(--radius);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--base-thin);
    background-position: center center;
    scroll-snap-align: center;
    /*滑动吸附定位元素的位置*/
    margin: 0.8rem 0;
    transition: all ease-out 0.3s;
    overflow: hidden;

    &>video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.mapLayer-info {
    display: grid;
    grid-auto-flow: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: flex-start;

    .link-btn {
        transition: all 0.3s;
        opacity: 0;
        transform: translateX(-100%);

        &::after {
            display: none;
        }
    }
}

.mapLayer-tool {
    display: grid;
    grid-auto-flow: column;
    gap: 0.8rem;
    align-items: center;

    .opacity-input,
    .mapLayerShow-btn {
        opacity: 0;
        transition: all 0.3s;
    }

    .opacity-input {
        padding: 0 0.4rem;
        text-align: center;
        background: url('data:image/svg+xml;charset=utf-8,<svg width="10" height="9" xmlns="http://www.w3.org/2000/svg"><path d="M7.54 4.09c-.54 0-.95.19-1.23.59-.26.34-.38.8-.38 1.37 0 .56.12 1.01.38 1.37.28.38.69.58 1.23.58.53 0 .94-.2 1.23-.58.25-.35.38-.81.38-1.37 0-.57-.13-1.03-.38-1.37-.29-.4-.7-.59-1.23-.59ZM6.68.72 2.67 8.14h.65l4-7.42h-.64ZM2.46.86c-.54 0-.95.19-1.23.59-.26.34-.38.8-.38 1.37 0 .56.12 1.01.38 1.37.28.38.69.58 1.23.58.53 0 .94-.2 1.23-.58.25-.35.38-.81.38-1.37 0-.57-.13-1.03-.38-1.37-.29-.4-.7-.59-1.23-.59Zm5.08 3.77c.3 0 .52.14.67.43.12.24.19.57.19.99 0 .41-.07.73-.19.97-.15.29-.37.44-.67.44-.31 0-.53-.15-.67-.43-.13-.24-.19-.57-.19-.98 0-.43.06-.76.19-1 .14-.28.36-.42.67-.42ZM2.46 1.4c.3 0 .52.14.66.43.13.24.2.57.2.99 0 .41-.07.73-.19.97-.15.29-.37.44-.67.44-.31 0-.53-.15-.67-.43-.13-.24-.19-.57-.19-.98 0-.43.06-.76.19-1 .14-.28.36-.42.67-.42Z" fill="#FFF" fill-rule="nonzero" opacity=".8"/></svg>');
        background-repeat: no-repeat;
        background-position: 80% center;
    }

    .opacity-input:focus {
        opacity: 1;
    }
}

.list-link:hover {
    .link-btn {
        opacity: 1;
        transform: translateX(0);
    }

    .opacity-input,
    .mapLayerShow-btn {
        opacity: 1;
    }
}

.mapLayer-tool {
    .btn-icon.btn-sm {
        font-size: 1.6rem;
    }
}

.hide-layer {
    color: var(--text-light);

    .opacity-input {
        display: none;
    }

    .mapLayerShow-btn {
        opacity: 1;
    }
}

.mapLayer-list .list-child li:not(.list-father):not(.list-child):before {
    content: "\e94d";
    font-family: 'ranIcon';
    height: auto;
    width: auto;
    border: none;
    margin-right: 0.6rem;
}

.mapLayerInfo-list {
    &>li {
        display: grid;
        grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
        gap: 2.4rem;
        align-items: center;
        justify-items: flex-end;
        color: var(--text-light);
        transition: 0.2s all;

        &:hover {
            background: var(--base-thinner);
        }
    }
}

.mapLayerInfo-name {
    display: flex;
    align-items: center;
    color: var(--text);
    justify-self: flex-start;

    &::before {
        content: "";
        height: 1.6rem;
        width: 1.6rem;
        display: inline-block;
        border-radius: 100%;
        margin-right: 0.8rem;

        background-color: var(--color);
    }
}

.widget-accordion {
    .accordion-summary {
        padding: 1.2rem 0.4rem;
        background-color: transparent;
        font-weight: bold;
    }

    .accordion-content {
        background: var(--base-thinner);
        border-radius: 0.8rem;
    }

    .accordion-content-info {
        padding: 0.8rem 1.2rem;

        &>li {
            position: relative;
            padding-right: 2.4em;

            &::before {
                content: "";
                font-family: 'ranIcon';
                margin-right: 0.6rem;
            }

            &::after {
                content: "\e94a";
                font-family: 'ranIcon';
                position: absolute;
                right: 0.8rem;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }

            &.bus::before {
                content: "\e919";
            }
        }
    }

}



.tab-content {
    position: relative;
    display: none;
    min-height: 24rem;

    &.show {
        display: block;
    }
}

.tab-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--base-thinner);
    margin-bottom: 0.8rem;
}

.sub-screen {
    &.hide {
        display: none;
    }
}

.sub-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;

}

.sub-top-star {
    display: flex;
    align-items: center;

    .back-btn {
        display: flex;
        border-right: 1px solid var(--base-thin);
        padding-right: 1rem;
        font-size: 1.6rem;

        &::after {
            display: none;
        }
    }
}

.sub-top-title {
    margin: 0;
    font-size: 1.4rem;
}

.back-btn+.sub-top-title {
    margin-left: 0.8rem;
}


.widget-grid1 {
    align-content: space-evenly;
    align-items: center;
    gap: 0 1.6rem;

    .statistic-number {
        font-size: 2rem;
    }

    .list-progress>li {
        gap: 0.8rem;
    }
}

.energy-title {
    font-size: 3.2rem;
    line-height: 1em;

    small {
        font-size: 1.6rem;
    }
}

.energy-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 0.8rem;
}

.energy-item {
    display: grid;
    font-family: din;
    justify-items: center;

    &::before {
        content: "";
        font-family: 'ranIcon';
        font-size: 1.8rem;
    }
}

.solar-energy::before {
    content: "\e99d";
    color: #e2ea00;
}

.wind-energy::before {
    content: "\e98d";
    color: #28e8ff;
}

.nuclear-energy::before {
    content: "\e991";
    color: #147aff;
}


.widget-form {
    display: grid;
    gap: 2.4rem;

    fieldset {
        position: relative;
        display: grid;
        gap: 2.4rem;
        border: none;
        padding: 0;
        padding-bottom: 2.4rem;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            right: -2rem;
            left: 0;
            bottom: 0;
            background: var(--base-thinner);
        }

        &:last-child::after {
            display: none;
        }
    }

    .checkbox-inline,
    .radio-inline {
        padding: 0.8rem;
        grid-auto-flow: column;
        grid-template-columns: auto;
    }
}

.widget-form-item {
    max-width: 30rem;
}

.widget-form-label {
    margin: 0;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}

.widget-form-item-body {
    display: grid;
    grid-auto-flow: column;
    gap: 0.4rem;
}

.widget-COVID {
    background: url(../images/COVID.png) no-repeat;
    background-size: cover;

}

.COVID-statistics {
    border-bottom: 1px solid var(--base-thinner);

    .number {
        font-size: 3.2rem;
        line-height: 1em;
    }
}

.output-value {
    padding: 0.8rem 0;

    .progress-gradient {
        height: 0.6rem;
        margin-bottom: 0.4rem;

        &::before {
            display: none;
        }

    }
}

.output-value-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--text-light);
}

.status-tag {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &::before {
        content: "\e926";
        font-family: ranIcon;
        margin-right: 0.4rem;
    }

    &.primary {
        /*表示进行中*/
        color: var(--ui-primary);

        &::before {
            content: "\e926";
        }
    }

    &.danger {
        /*表示未通过*/
        color: var(--ui-danger);

        &::before {
            content: "\e925";
        }
    }

    &.warning {
        /*表示逾期*/
        color: var(--ui-warning);

        &::before {
            content: "\e926";
        }
    }

    &.success {
        /*表示完成*/
        color: var(--ui-success);

        &::before {
            content: "\e902";
        }
    }
}

.widget-card {
    background-color: var(--base-thinner);
    border-radius: 0.8rem;
    &:hover{
        .widget-title>.link-btn {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.widget-card-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 1.4rem 2rem 0.8rem;
}

.widget-card-body {
    padding: 0 2rem 2rem;
    display: grid;
    gap: 1.6rem;
}


.widget-intro-list {
    display: grid;
    grid-template-columns: 5em 1fr;
    gap: 1.2rem 0.8rem;

    dt {

        color: var(--text-light);

    }
}

.file-list {
    position: relative;
    display: grid;
    gap: 0.1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    &>li {
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
        border-radius: 0.4rem;
        background: var(--base-thinner);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.2s;

        &:hover {
            background: var(--base-thin);
        }
    }


}

.file-item {
    display: grid;
    grid-auto-flow: column;
    gap: 0.8rem;
    align-items: center;
    color: var(--text);
    justify-content: flex-start;

    &::after {
        display: none;
    }

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 1.6rem;
        background: url(../images/files/file9.svg) no-repeat center;
        background-size: contain;
        flex: none;
    }

    &[href$='.html']:before,
    &[href$='.css']:before,
    &[href$='.xml']:before {
        background-image: url(../images/files/code.svg)
    }

    &[href$='.rar']:before,
    &[href$='.zip']:before,
    &[href$='.jar']:before,
    &[href$='.ios']:before,
    &[href$='.gzip']:before {
        background-image: url(../images/files/rar.svg)
    }

    &[href$='.xls']:before,
    &[href$='.xlsx']:before,
    &[href$='.xlt']:before,
    &[href$='.xlsm']:before {
        background-image: url(../images/files/excel.svg)
    }

    &[href$='.ppt']:before,
    &[href$='.pps']:before,
    &[href$='.pptx']:before {
        background-image: url(../images/files/ppt.svg)
    }

    &[href$='.doc']:before,
    &[href$='.docx']:before,
    &[href$='.dot']:before,
    &[href$='.dotx']:before,
    &[href$='.docm']:before,
    &[href$='.dotm']:before {
        background-image: url(../images/files/word.svg)
    }

    &[href$='.psd']:before {
        background-image: url(../images/files/img.svg)
    }

    &[href$='.sketch']:before {
        background-image: url(../images/files/img.svg)
    }

    &[href$='.indd']:before {
        background-image: url(../images/files/img.svg)
    }

    &[href$='.pdf']:before {
        background-image: url(../images/files/pdf.svg)
    }

    &[href$='.mp4']:before,
    &[href$='.mov']:before,
    &[href$='.avi']:before,
    &[href$='.mkv']:before,
    &[href$='.swf']:before {
        background-image: url(../images/files/video.svg)
    }
}

.recordList,
.taskList {
    padding-left: 2.4rem;
    margin: 0;
    list-style: none;
}

.taskList-item {
    position: relative;
    padding-bottom: 1.6rem;

    &::before {
        content: "\e903";
        font-family: 'ranIcon';
        position: absolute;
        left: -2.4rem;
        top: 0;
        color: var(--ui-primary);
    }
}

.recordList-item {
    position: relative;
    padding-bottom: 1.6rem;

    &::before {
        content: "";
        position: absolute;
        left: -2.5rem;
        top: 0.4rem;
        display: block;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 50%;
        background-color: var(--ui-primary);
    }

    &::after {
        content: "";
        position: absolute;
        left: -2rem;
        top: 1.8rem;
        bottom: 0;
        display: block;
        width: 1px;
        border-left: 1px dotted var(--ui-primary);
    }
    &:hover{
        .record-set{
            opacity: 1;
        }
    }
}
.record-name {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.record-set{
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s opacity;
    opacity: 0;
}


.record-hint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--text-light);
}

.record-time {
    flex: none;
    margin-right: 2.4rem;
}

.record-address {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;

    &:hover {
        color: var(--text);
    }
}

.rateList-info {
    grid-area: 3/2/4/4;
    padding: 1.2rem;
    border-radius: .8rem;
    border-top-left-radius: 0;
    background: var(--base-thinner);
    display: grid;
    gap: 1.2rem;
    margin-top: 0.8rem;

    &>p {
        margin: 0;
    }
}


.max-dialog {
    .dialog {
        width: 80%;
    }
}

.dialog_body {
    display: grid;
    gap: 2.4rem;
    align-content: flex-start;

    .statistic {
        padding: 1.6rem 0;
    }

    .tab-content {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        align-content: flex-start;
        gap: 2.4rem;
        transition: all 0.3s;
        pointer-events: none;
        opacity: 0;

        &.show {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.dialog-chart {
    display: grid;
    min-height: 28rem;
    padding: 2.4rem;
    border-radius: 0.8rem;
    background-color: var(--base-thinner);
}

.table-slicky_row {
    background-image: linear-gradient(180deg, var(--paper), color-mod(#292d38 a(0.4)));
}

.backdrop {
    overflow: hidden;
    z-index: 2;

    .dialog {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        min-height: 0;
    }

    .dialog_body {
        overflow: auto;
    }

    .dialog_header,
    .dialog_footer {
        background: var(--paper);
    }

}

.dialog_title {
    display: flex;
    align-items: center;

    .back-btn {
        display: flex;
        border-right: 1px solid var(--base-thin);
        padding-right: 1rem;
        font-size: 1.6rem;
        margin-right: 1.2rem;

        &::after {
            display: none;
        }
    }
}

.dialog-sub-title {
    padding-left: 0.8rem;
    border-left: 3px solid var(--ui-primary);
    line-height: 1em;
    margin: 0;
}

.normal-table {
    th {
        background-color: var(--base-thinner);
    }
}

.project-steps {
    width: 64%;
    margin: 1.6rem auto;
}

.state {
    display: grid;
    grid-auto-flow: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: flex-start;

    &.success>i {
        color: var(--ui-success);
    }

    &.warning>i {
        color: var(--ui-warning);
    }

    &.danger>i {
        color: var(--ui-danger);
    }
}

.widget-chart-list1 {
    .list-info_title {
        font-size: 1.6rem;
    }

    .list-start.top {
        transform: translateY(1px);
    }

    .widget-trend-chart {
        width: 16rem;
        height: 3.2rem;
        align-self: stretch;
        align-self: center;
    }

    .list-end-info {
        text-align: right;
        margin-left: 1.6rem;
    }

    .number {
        font-size: 1.6rem;
    }
}

.widget-chart-list2 {
    .list-info_title {
        font-size: 1.6rem;
    }

    .list-start.top {
        transform: translateY(1px);
    }

    .progress {
        width: 100%;
        margin-top: 0.8rem;
        height: 0.6rem;

        &::before {
            display: none;
        }

        &::after {
            background-image: linear-gradient(270deg, #11CCD1 0%, rgba(0, 138, 146, 0.32) 100%);
        }
    }
}

.widget-today-event {
    &::before {
        content: "今日结办 "counter(leftNum);
    }

    &::after {
        content: "今日待办 "counter(rightNum);
    }
}

.widget-table1 {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    font-family: din;

    th {
        font-size: 1.2rem;
        color: var(--text-light);
    }

    td,
    th {
        padding: 0.4rem;
    }

    tbody tr:hover {
        background: var(--base-thinner);
    }

    th:last-child,
    td:last-child {
        text-align: right;
    }

    th:first-child,
    td:first-child {
        text-align: left;
    }
}

.widget-table2 {
    text-align: center;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    font-family: din;

    th {
        font-size: 1.2rem;
        color: var(--text-light);
        background-color: var(--base-thinner);
    }

    td,
    th {
        padding: 0.8rem;
    }

    tbody tr:hover {
        background: var(--base-thinner);
    }

    tbody td {
        border-bottom: 1px solid var(--base-thinner);
    }

    th:first-child,
    td:first-child {
        text-align: left;
    }
}

.widget-hr {
    background-color: var(--base-thinner);
    height: 1px;
    width: 100%;
    border: none;
    margin: 0.4rem 0;
}

.widget-camera-entry {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
    border-radius: 0.8rem;
    background: url(../images/widget/widget-camera-entry.png) no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 0.2rem 0.4rem rgb(0 0 0 / 12%);
}

.widget-camera-entry-title {
    display: flex;
    align-items: center;

    &::before {
        content: '\e965';
        font-family: ranIcon;
        margin-right: 0.8rem;
        font-size: 2rem;
    }
}

.widget-icon-text {
    display: grid;
    grid-template-columns: 2.4rem 1fr;
    gap: 0.8rem;
    align-items: center;
}

.widget-icon {
    justify-self: center;
    font-size: 2rem;
    color: #00B0BA;
    text-align: center;
    background-image: linear-gradient(168deg, #21C5D6 0%, #057C8A 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.widget-grid-btn {
    cursor: pointer;

    &:hover {
        background-color: var(--base-thin);
    }

    &.active {
        background-color: var(--ui-mint);

        .widget-icon {
            color: var(--text);
            -webkit-text-fill-color: var(--text);
        }
    }
}

.widget .light-dot {
    &:hover {
        cursor: pointer;
        background-color: var(--base-thinner);
    }
}




.radar {
    opacity: 0.5;
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    border-radius: 100%;
    overflow: hidden;
    background: url(../images/widget/radar.svg) no-repeat center center;
    background-size: contain;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: blips 5s infinite;
        animation-timing-function: linear;
        animation-delay: 1.4s;
    }

    &:after {
        content: ' ';
        display: block;
        background-image: linear-gradient(44deg, transparent 50%, var(--ui-mint) 100%);
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        animation: radar-beam 5s infinite;
        animation-timing-function: linear;
        transform-origin: bottom right;
        border-radius: 100% 0 0 0;
    }
}

@keyframes radar-beam {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blips {
    14% {
        background:
            radial-gradient(2vmin circle at 75% 70%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%);
    }

    14.0002% {
        background:
            radial-gradient(2vmin circle at 75% 70%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%);
    }

    25% {
        background:
            radial-gradient(2vmin circle at 75% 70%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%);
    }

    26% {
        background:
            radial-gradient(2vmin circle at 75% 70%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
    }

    100% {
        background:
            radial-gradient(2vmin circle at 75% 70%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 63% 72%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%),
            radial-gradient(2vmin circle at 56% 86%, var(--ui-mint) 10%, var(--ui-mint) 30%, rgba(255, 255, 255, 0) 100%);
        opacity: 0;
    }
}

.widget-rainfall {
    .widget-body {
        align-content: flex-start;
    }
}

.rainfall-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    &>li {
        display: grid;
        justify-items: center;
        gap: 0.4rem;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

        span {
            font-size: 1.2rem;
            font-family: din;
        }
    }
}

.wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.wave-item {
    position: absolute;
    left: 0;
    background-size: auto 100%;
    width: 100%;
}

.wave1 {
    bottom: -48px;
    height: 64px;
    background: url(../images/widget/wave1.svg) 0 0 repeat;
    animation: wave-l 199s infinite linear;
    z-index: 2;
}

.wave2 {
    height: 64px;
    bottom: 0px;
    z-index: 1;
    background: url(../images/widget/wave2.svg) 0 100% repeat;
    animation: wave-r 127s infinite linear;
}

.wave3 {
    height: 48px;
    bottom: 24px;
    z-index: 3;
    background: url(../images/widget/wave3.svg) 0 100% repeat;
    animation: wave-l 67s infinite linear;
}

@keyframes wave-l {
    100% {
        background-position: 800px 0;
    }
}

@keyframes wave-r {
    100% {
        background-position: -800px 0;
    }
}

.user-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
    align-items: flex-start;
}

.user-info {
    display: grid;
    gap: 0.8rem;

    dt {
        font-weight: bold;
        font-size: 1.6rem;
    }

    dd {
        font-size: 1.2rem;
        color: var(--text-regular);
    }
}

.widget-set {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    width: 80rem;
    background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.48) 80%, rgba(0, 0, 0, 0.00) 100%);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 2.4rem;

    &.show {
        transform: translateX(0);
    }
}

.widget-set-nav {
    display: grid;
    align-self: center;
    grid-area: 1/1/3/2;

    &>a {
        color: #fff;
        padding: 1.2rem 2.4rem;

        &::after {
            display: none;
        }

        &.active {
            font-size: 1.6rem;
            background-image: linear-gradient(90deg, rgba(0, 166, 214, 0.77) 0%, rgba(0, 159, 180, 0.00) 100%);
        }
    }
}

.widget-set-header {
    border-bottom: 1px solid var(--base-thinner);
    grid-area: 1/2/2/3;
    display: grid;
    padding: 1.6rem;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.widget-set-main {
    overflow-y: auto;
    padding: 1.6rem 0;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
    }
}

.widget-demo-list {
    display: grid;
    gap: 4rem;
    justify-content: center;

    &>li {
        position: relative;
        @extend .widget-group;

        .end {
            position: absolute;
            right: -4.8rem;
            top: 50%;
            transform: translateX(100%) translateY(-50%);
        }

        .sm {
            transform: translateX(50%);
        }

        .widget {
            pointer-events: none;
        }
    }
}

.widget-contrast-project {
    &:before {
        left: 0;
        content: "竣工项目 "counter(leftNum);
    }

    &:after {
        right: 0;
        content: "在建项目 "counter(rightNum);
    }
}

.three-hundred {
    display: grid;
    grid-auto-flow: column;
    gap: 2.4rem;
    justify-content: space-evenly;
    align-content: center;

    &>li {
        display: grid;
        justify-items: center;
        gap: 0.4rem;
    }

    .title {
        color: var(--text-light);
    }

    .number {
        font-size: 1.6rem;
    }

    .threeDoughnut-chart {
        height: 8rem;
        width: 8rem;
        margin-bottom: 0.8rem;
    }
}

.widget-media {
    position: relative;
    height: 20rem;
    border-radius: var(--radius);
    overflow: hidden;
}


